body{

background: linear-gradient(120deg,#4e73df,#1cc88a);
min-height:100vh;

}

h1{

color:white;
font-weight:bold;

}

.card{

border-radius:12px;

}

table{

background:white;

}

button{

transition:0.3s;

}

button:hover{

transform:scale(1.05);

}